<!DOCTYPE html>
<html lang="en">

<head>
	<title>%%TITLE%%</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<meta name="description" content="%%DESCRIPTION%%" />

	<meta property="og:title" content="%%TITLE%%" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="%%DESCRIPTION%%" />
	<meta property="og:image" itemprop="image" content="%%IMAGE%%" />
	<meta name="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="/style.css">
</head>
<body ng-app="app" ng-controller="AppController as app" ng-cloak>
	<div class="overlay" ng-show="app.editing"></div>
	<header>
		<img ng-if="app.state.bannerImage" ng-src="{{app.state.bannerImage}}" />
		<h1>{{app.state.title}}</h1>
		<!-- <div>Emails Sent: <span class="count">{{app.state.emailCount}}</span></div> -->
	</header>
	<main>
		<p markdown="app.state.content"></p>
		<hr />
		<div ng-show="app.formSent">
			<h4>Thank you.</h4>
			<b>Your message has been successfully sent</b>
		</div>
		<div ng-show="app.formFailed">
			<h4>There was an unexpected issue.</h4>
			<b>We were unable to send your message</b>
		</div>
		<form ng-submit="app.submitForm()" ng-hide="app.formSent || app.formFailed">
			<div ng-switch="app.form.type">
				<div ng-switch-when="inline" class="inlineForm">
					<div update="app.updateForm(form)" inline-form="app.form" form="app.formData"></div>
				</div>
				<div ng-switch-default>
					<input ng-repeat="field in app.form.fields" name="{{field.name}}" ng-model="app.formData[field.name]" type="{{field.type}}" placeholder="{{field.name}}" />
				</div>
			</div>
			<br />
			<hr />
			<label for="email">Your Email Address:</label>
			<input name="email" type="email" ng-model="app.formData.email" required />
			<hr>
			<div ng-if="app.form.consentRequired">
				<p markdown="app.form.consentText"></p>
				<label for="consent_checkbox" ng-click="app.formData.consent = !app.formData.consent">
					<input type="checkbox" name="consent_checkbox" ng-model="app.formData.consent" required />
					<span>I agree to the above terms</span>
			</div>
			<button type="submit" ng-disabled="app.sending">Send</button>
			<small>The email you provide will be CCd in the resulting email</small>
		</form>
	</main>
</body>
<script>
	window.__INITIAL_STATE__ = %%STATE%%;
</script>
<script src="/angular.js"></script>
<script src="/socketio.js"></script>
<script src="/showdown.min.js"></script>
<script src="/client.js" defer></script>
</html>