<!DOCTYPE html>
<html lang="en">

<head>
	<title>%%TITLE%%</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">

	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="/style.css">
</head>
<body ng-app="app" ng-controller="AppController as app" ng-cloak>
	<header>
		<h1>{{app.state.title}}</h1>
		<div>Emails Sent: <span class="count">{{app.state.emailCount}}</span></div>
	</header>
	<main>
		<p>{{app.state.content}}</p>
		<hr />
		<form>
			<div ng-switch="app.form.type">
				<div ng-switch-when="inline" class="inlineForm">
					<div update="app.updateForm(form)" inline-form="app.form" form="app.formData"></div>
				</div>
				<div ng-switch-default>
					<input ng-repeat="field in app.form.fields" name="{{field.name}}" ng-model="app.formData[field.name]" type="{{field.type}}" placeholder="{{field.name}}" />
				</div>
			</div>
			<hr>
			<button type="submit">Send</button>
		</form>
	</main>
</body>
<script>
	window.__INITIAL_STATE__ = %%STATE%%;
</script>
<script src="/angular.js"></script>
<script src="/socketio.js"></script>
<script src="/client.js" defer></script>
</html>