<!DOCTYPE html>
<html lang="en">
  <head>
    <title>%TITLE%</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>%TITLE%</h1>
      <h4>%SUBTITLE%</h4>
    </header>
    <main>
      <p>
        Richard Braine has challenged the NEC to pass a motion for a vote of no confidence in him.<br>
        In such a scenario a vote shall be given to the members, should Richard prevail, all NEC seats shall be up for election immediately.<br>
      </p>
      <iframe width="100%" height="342" src="https://www.youtube.com/embed/ZZzHiG_bOBU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
      <em>Fill out the form below to tell the NEC to call the vote of no confidence</em>
      <div id="successMessage" style="display:none">
        <h2>Thank you.</h2>
      <h3>Your email has been sent</h3>
      </div>
      <form id="form">
        <label>Email Address: </label>
        <input name="email" type="email" placeholder="Your Email"  required />
        <label>Message: </label>
        <textarea name="body" rows="18" required>
Dear UKIP Party Chairman and NEC, 

During the time since Richard Braine was voted in as Leader of UKIP, your words and actions have made it emphatically clear that you do not respect his appointment and that you wish to block him from enjoying his rights and from executing his obligations as Party Leader.

The impasse between yourselves and the elected Party Leader has led to the Party that many of us have worked so hard for over many, many years, becoming a public laughing stock. 

It is abundantly clear that the only way forward is for you to now declare a Vote of No Confidence in Richard Braine and to thus allow the Membership to decide how the current, dreadful and humiliating, situation should be resolved.
I therefore call upon you to declare such a Vote of No Confidence at the earliest possible opportunity. 

Yours sincerely,</textarea>
        <label>Full Name: </label>
        <input name="name" type="text" placeholder="Your Name" required />
        <hr />
        <button type="submit" id="submitForm">Send</button>
      </form>
      <small>
The above form will send your email to:<br>
%EMAIL_LIST%<br>
        <b>It will also CC ukip@braine.com, and your own email (so you have a copy)</b>
      </small>
    </main>
  </body>
</html>
