/* styles */
/* called by your view template */

* {
	box-sizing: border-box;
}

html {
	position: relative;
}

body {
  font-size: 16px;
  max-width: initial;
}

main, header {
	width: 38em;
	max-width: 100%;
	margin: auto;
}

@media(max-width: 900px) {
	main, header {
		padding: 0 30px;
	}
}

header {
	position: relative;
}

header img+h1 {
	position: absolute;
	bottom: 0;
	padding: 0 15px;
	color: white;
	text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
	width: calc(100% - 60px);
}

@media(max-width: 600px) {
	header img+h1 {
		font-size: 5vw;
	}
}

.overlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .8;
	background-color: black;
	pointer-events: none;
	z-index: 1;
}

.isEditing .overlay {
	display: initial;
}

input {
  margin: 0 10px;
  width: 100%;
}

textarea, select, input[type] {
  font-size: 18px;
  padding: 8px 12px;
  height: initial;
  max-height: initial;
  margin: 0 0 10px;
}

input[type="checkbox"] {
	width: initial;
}

textarea:focus, select:focus, input[type]:focus {
  border-color: #616161;
}

button {
  font-size: 20px;
  width: 100%;
  padding: 12px;
  background-color: #616161;
  border: none;
}

button:not(:disabled):hover {
  background-color: #818181;
}

hr {
  border-style: solid;
  border-color: #AAAAAA;
}

form {
  margin: 12px 0;
}

em {
  color: #AAAAAA;
}

.inlineForm {
	padding: 20px 15px;
	background: #F1F1F1;
	border-radius: 5px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}

.inlineField.active {
	position: relative;
	z-index: 5;
}

.inlineField.active {
	position: relative;
	z-index: 5;
}

.inlineField.active .inlineField__text:not(.hide) {
	opacity: .5;
}

.inlineField .inlineField__input {
	display: inherit;
	position: relative;
}

.isEditing .inlineField.active input:not(:focus) {
	opacity: .4;
}

.inlineField .inlineField__input input {
	display: inline-block;
	padding: 4px;
	font-size: 14px;
	width: initial;
	height: 24px;
	margin: -2px 0 0;
	min-width: 40px;
	vertical-align: middle;
	background-color: #E0E0E0;
}

.inlineField .inlineField__input label {
	bottom: 100%;
    position: absolute;
    color: white;
    left: 0;
    font-family: sans-serif;
    width: 350px;
}

.inlineField input[type="number"] {
	width: 0;
	min-width: 60px;
}