/* styles */
/* called by your view template */

* {
	box-sizing: border-box;
}

body {
  font-size: 16px;
}

input {
  margin: 0 10px;
  width: 100%;
}

h1, h2, h3 {
  color: #713978;
}

textarea, select, input[type] {
  font-size: 18px;
  padding: 8px 12px;
  height: initial;
  max-height: initial;
}

textarea:focus, select:focus, input[type]:focus {
  border-color: #713978;
}

button {
  font-size: 20px;
  width: 100%;
  padding: 12px;
  background-color: #713978;
  border: none;
}

button:not(:disabled):hover {
  background-color: #A969B2;
}

hr {
  border-style: solid;
  border-color: #713978;
}

form {
  margin: 12px 0;
}

em {
  color: #713978;
}

.inlineForm input {
	display: inline;
	padding: 4px;
	font-size: 14px;
	width: initial;
	margin: 0 4px;
	min-width: 60px;
}

inline-field span {
	display: inline-block;
	min-width: 40px;
	padding: 0 4px;
	height: 22px;
	font-size: 14px;
	vertical-align: middle;
	background: #f1f1f1;
}